.container {
    background-color: #0064EB;
    height: 7vh;
    display: flex;
}

.logo {
    height: 40px;
    width: 40px;
    margin-left: 41px;
}

.searchArea {
    margin-left: -740px;
    width: 500px;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
}

.logo img {
    width: auto;
    height: auto;
}

.searchArea img {
    width: 20px;
    height: 20px;
}

.searchArea input {
    width: 90%;
    outline: none;
    height: 90%;
    border: none;
}