.container {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 93vh;
}

.container > .infoBlock {
    width: 210px;
    height: auto;
}

.infoBlock > img {
    width: 64px;
    height: 64px;
    margin-bottom: 47px;
}

.infoBlock > p {
    margin: 0;
    width: 100%;
    color: #808080;
    line-height: 140%;
    font-size: 21px;
}
