.container {
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
}
.activePage {
    font-size: 60px;
    cursor: pointer;
    margin-left: 20px;
}
.page{
    font-size: 40px;
    cursor: pointer;
    margin-left: 20px;
}