.container {
    width: 292px;
    height: auto;
    margin: 40px auto auto 56px;
    display: flex;
}

.container > h2 {
    margin-top: 29px;
}

.container > a {
    margin-top: 12px;
    text-decoration: none;
}

.container > img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
}

.subscribers {
    display: flex;
    flex-direction: row;
    width: 292px;
    margin: 25px 0 0;
}

.subscribers > .followers {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: auto;
}

.subscribers > .following {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: auto;
}

.followers > img {
    width: auto;
    margin-right: 5px;
}

.following > img {
    width: auto;
    margin-right: 5px;
}

.following > p {
    width: auto;
}

.followers > p {
    width: auto;
}