.container {
    /*background-color: #FFFFFF;*/
    /*margin: 24px 0 auto 32px;*/
    /*display:inline-block;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: flex-start;*/
    /*padding: 24px 32px;*/
}

.container > span {
    border: 1px solid red;
}

.container > .repo > a {
    text-decoration: none;
}

.container > .repo > p {
    border: 1px solid black;
    margin: 16px 0px;
}
